:root {
    --fondo-p: rgb(13, 153, 235);
  }

*{
    margin: 0px;
    padding: 0px;
}
 body{
     background-color: black;
 }

/* .header{

  min-height: 100vh;
} */
.header .navbar {
    background-color: transparent !important;
    z-index: 2;
    
  }

  h2{
      text-align: center;
      padding-top: 40px;
      color:white;
  }

  .hero{
      margin-top: -80px;
  }
   
   .rectangulo-delgado{
    background-color: var(--fondo-p);
    width: 100%;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
   }

   .icono-p{
    text-align: center; 
    background: var(--fondo-p);
    color: #fff;
    font-size: 30px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
   }

   p {
       color: white;
   }
   .card{
    max-width: 280px;
}